<country-search-input
  placeholder="buscar por país"
  (value)="query.set($event)"
  [initialValue]="query()"
/>

<!-- <country-list/> -->

<!-- @if (countryResource.error()) {
<h3>{{ countryResource.error() }}</h3>
}@if(countryResource.hasValue()){
<country-list [countries]="countryResource.value()!" />
} -->

<country-list
  [countries]="countryResource.value() ?? []"
  [errorMessage]="countryResource.error()"
  [isEmpty]="countryResource.value()?.length === 0"
  [isLoading]="countryResource.isLoading()"
/>
